body {
    font-family: Arial, sans-serif;
    background-image: url("https://i.pinimg.com/736x/bf/d8/d7/bfd8d7704cf357fdc06f003e8bfdc272.jpg");    
  }
  .pokemonlogo {
    margin-left: 50%;
    height: 200px;
    width: 450px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .pokemon {
    flex-basis: calc(20% - 20px);
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: rgb(231, 216, 0);
  }

  .pikachu{
    background-color: yellow;
  }
  .charizard{
    background-color: orange;
  }
  .bulba{
    background-color: rgb(8, 163, 112);
  }
  .squirtle{
    background-color: aqua;
  }
  .eevee{
    background-color: tan;
  }
  
  .pokemon img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .pokemon h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .pokemon p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }
